@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Fira Code SemiBold';
  src: url('/fonts/FiraCode-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
