# name: Build and Deploy React App

# on:
#   push:
#     branches:
#       - main
#   workflow_dispatch: # manual trigger

# jobs:
#   build_and_push:
#     runs-on: ubuntu-latest
#     env:
#       IMAGE_NAME: ${{ secrets.IMAGE_NAME }}
#       IMAGE_VERSION: v1.0.0
#     steps:
#       - uses: actions/checkout@v4

#       - uses: docker/setup-buildx-action@v2

#       - uses: docker/login-action@v2
#         with:
#           registry: ${{ secrets.REGISTRY_URL }}
#           username: ${{ secrets.REGISTRY_USERNAME }}
#           password: ${{ secrets.REGISTRY_PASSWORD }}

#       - name: Build and push image
#         run: |
#           docker build . -t $IMAGE_NAME:$IMAGE_VERSION
#           docker push $IMAGE_NAME:$IMAGE_VERSION

#   copy_compose_file:
#     needs: build_and_push
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - name: List files in current directory
#         run: ls -la
#       - uses: appleboy/scp-action@v0.1.7
#         with:
#           host: ${{ secrets.SERVER_IP }}
#           username: ${{ secrets.SERVER_USER }}
#           key: ${{ secrets.SERVER_SSH_KEY }}
#           passphrase: ${{ secrets.SSH_KEY_PASSPHRASE}}
#           source: 'docker-compose.yml'
#           target: '~/e_receipt/react'

#   deploy:
#     needs: copy_compose_file
#     runs-on: ubuntu-latest
#     env:
#       IMAGE_NAME: ${{ secrets.IMAGE_NAME }}
#       IMAGE_VERSION: v1.0.0
#     steps:
#       - uses: appleboy/ssh-action@v0.1.7
#         with:
#           host: ${{ secrets.SERVER_IP }}
#           username: ${{ secrets.SERVER_USER }}
#           key: ${{ secrets.SERVER_SSH_KEY }}
#           passphrase: ${{ secrets.SSH_KEY_PASSPHRASE}}
#           script: |
#             cd ~/e_receipt/react
#             # Replace image placeholders in docker-compose.yml with actual values
#             sed -i "s|image: \${IMAGE_NAME}:\${IMAGE_VERSION}|image: ${{ secrets.IMAGE_NAME }}:v1.0.0|g" docker-compose.yml

#             docker compose pull
